.add {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.add-input-text {
  display: block;
  color: black;
  margin: 0;
  padding: 10px;
  width: 100vw;
  text-align: center;
  border-top: 2px solid #2ec4b6;
}

.add-input {
  font-size: large;
  width: 80vw;
  border-radius: 10px;
  margin: 0px;
  padding: 10px;
  border: 2px solid #2ec4b6;
}

.add-item-button {
  font-size: large;
  background-color: #2ec4b6;
  border-radius: 10px;
  border: #2ec4b6;
  color: black;
  margin: 0px;
  padding: 10px;
}
