.Search-List {
  list-style: none;
  padding: 0;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Search-List-Item {
  background-color: #ffbf69;
  border: 1px solid #ffbf69;
  border-radius: 5px;
  padding: 3px;
}

.Search-List-Item:hover {
  cursor: pointer;
}
