.search-list {
  list-style: none;
  padding: 0;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.search-list-item {
  background-color: #ffbf69;
  border: 1px solid #ffbf69;
  border-radius: 5px;
  padding: 3px;
}

.search-list-item:hover {
  cursor: pointer;
}
